<html lang="en" ng-app="Anonymizer">
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/index_css.css "/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
	  $(document).ready(function(){
	  $("ol").append("<li>List item 3</li>")
	  $("body").append("<ul></ul>")
	  $("ul").append("<li>One</li>")
	  $("ul").append("<li>Two</li>")
	  $("ul").append("<li>Three</li>")
	  $("ul").append("<li>Four</li>")
	  $("li").css("color", "blue")

	  });
    </script>
    <ol>
	  <li>List item 1</li>
	  <li>List item 2</li>
	</ol>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
	  $(document).ready(function(){
	  $("button").click(function(){
	  $("#w3s").attr("href", function(i, origValue1, value2){
	  console.log(origValue1, value2)
	  return origValue1+ "/jquery";
	  });
	  });
	  });
	</script>
    <p><a href="http://www.w3schools.com" id="w3s">W3Schools.com</a></p>

	<button>Change href Value</button>

	<p>Mouse over the link (or click on it) to see that the value of the href attribute has changed.</p>

    <p>The local variable carName cannot be accessed from code outside the function:</p>

    <p id="demo"></p>

    <script>
      myFunction();
      document.getElementById("demo").innerHTML =
      "The type of carName is " + typeof carName;

      function myFunction() {
      var carName = "Volvo";
      }
    </script>

    <button onclick="this.innerHTML = Date(); alert(this);">Click Me to View Time?</button>
    <!-- Start Navigation -->

    <p id="p1">Please locate where 'locate' occurs!.</p>

    <button onclick="myFunction()">Try it</button>

    <p id="demo"></p>
    <p id="demo1"></p>
    <p id="demo2"></p>
    <p id="demo3"></p>

    <script>
      function myFunction() {
      var str = document.getElementById("p1").innerHTML;
      var pos = str.indexOf("locate");
      document.getElementById("demo").innerHTML = pos;
      var pos1 = str.indexOf("where");
      document.getElementById("demo1").innerHTML = pos1

      var pos2 = str.indexOf("occurs!");
      document.getElementById("demo2").innerHTML = pos2
      var pos3 = str.indexOf("Please");
      document.getElementById("demo3").innerHTML = pos3

      }
    </script>



    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
	<div class="navbar-header">


	  <div>
	    <!DOCTYPE html>
	    <html>
	      <body>

		<p id="demo"></p>

		<script>
		  var text = "";
		  var i;

		  for(i=1;i<=10;i++){
			      if(i%2!=0){
			      text = text+"</br>"+i
			      }
			      }

			      // add for loop here

			      document.getElementById("demo").innerHTML = text;
			      </script>

	      </body>
	    </html>

	  </div>



	  <p>Click the buttons to sort car objects on type.</p>
	  <button onclick="myFunction()">Sort</button>
	  <p id="demop"></p>
	  <script>
	    var cars = [
	    {type:"Volvo", year:2016},
	    {type:"Saab", year:2001},
	    {type:"BMW", year:2010}]

	    displayCars(); //calling display fun

	    function myFunction() {
	    cars.sort(function(a, b){
	    var x = a.type.toLowerCase();
	    var y = b.type.toLowerCase();
	    if (x < y) {return -1;}
		    if (x > y) {return 1;}
	      return 0;
	      });
	      displayCars();
	      }


	      function displayCars() {
	      document.getElementById("demop").innerHTML =
	      cars[0].type + " " + cars[0].year + "<br>" +
	      cars[1].type + " " + cars[1].year + "<br>" +
	      cars[2].type + " " + cars[2].year;
	      }
	  </script>
	  <button onclick="myFunction1()">Sort Alphabetically</button>
	  <button onclick="myFunction2()">Sort Numerically</button>


	  <p id="demo"></p>

	  <script>
	    var points = [40, 100, 1, 5, 25, 10];
	    document.getElementById("demo").innerHTML = points;

	    function myFunction1() {
	    points.sort();
	    document.getElementById("demo").innerHTML = points;
	    }
	    function myFunction2() {
	    points.sort(function(a, b){return a - b});
	    document.getElementById("demo").innerHTML = points;
	    }
	  </script>


	  <button id="btdemo"></button>
	  <script>
	    document.getElementById("btdemo").innerHTML = Date();
	  </script>

	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">mchp <small>beta</small></a>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="/login">Login</a></li>
	  </ul>
	</div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- End Navigation -->
    <div class="container text-center">
      <h1>mycollegehomepage</h1>

      <p class="lead">Welcome! This semester will be fun... let's get started shall we?</p>
      <hr>
      <div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	  <form id="emailForm">
	    <div class="form-group">
	      <div class="input-group">
		<input type="text" class="form-control input-lg" name="email" placeholder="What is your .edu email?"/>
		<span class="input-group-btn">
		  <button id="emailSubmit" type="submit" class="btn btn-primary btn-lg ladda-button" data-style="expand-right" type="submit"><span class="ladda-label">Go!</span></button>
		</span>
	      </div>
	    </div>
	  </form>
	</div>
      </div>
      <br></br>
      <div class="row text-center">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	  <div class="flipper">
	    <div class="front">
	      <div id="ballWrapper">
		<div id="ball">
		  <img class="center-block img-responsive" src="http://new.mycollegehomepage.com/images/svg/bag.svg" alt="backpack" width="75" style="margin: 25px 0px 0px 37px;">
		</div>
		<div id="ballShadow"></div>
	      </div>
	    </div>
	    <div class="back">
	      <div class="panel panel-warning">
		<div class="panel-heading">
		  <h3 class="panel-title">Your Life</h3>

		</div>
		<div class="panel-body">
		  <p class="text-center"><i class="fa fa-check fa-3x text-warning"></i>
		  </p>We've made the college experience better by simplifying it. We've put everything you need, all in one place.</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	  <div class="flipper">
	    <div class="front">
	      <div id="ballWrapper" class="animated-lg">
		<div id="ball">
		  <img class="center-block img-responsive" src="http://new.mycollegehomepage.com/images/svg/money.svg" alt="money" width="90" style="margin: 25px 0px 0px 30px;">
		</div>
		<div id="ballShadow"></div>
	      </div>
	    </div>
	    <div class="back">
	      <div class="panel panel-success">
		<div class="panel-heading">
		  <h3 class="panel-title">Your Earnings</h3>

		</div>
		<div class="panel-body">
		  <p class="text-center"><i class="fa fa-money fa-3x text-success"></i>
		  </p>Sell your Study Guides and get paid. Cashing out is a breeze, too.</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	  <div class="flipper">
	    <div class="front">
	      <div id="ballWrapper">
		<div id="ball">
		  <img class="center-block img-responsive" src="http://new.mycollegehomepage.com/images/svg/book.svg" alt="book" width="73" style="margin: 34px 0px 0px 38px;">
		</div>
		<div id="ballShadow"></div>
	      </div>
	    </div>
	    <div class="back">
	      <div class="panel panel-danger">
		<div class="panel-heading">
		  <h3 class="panel-title">Your Classes</h3>

		</div>
		<div class="panel-body">
		  <p class="text-center"><i class="fa fa-book fa-3x text-danger"></i>
		  </p>Know when documents and assignments are added to your classes. See when someone joins, too.</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	  <div class="flipper">
	    <div class="front">
	      <div id="ballWrapper">
		<div id="ball">
		  <img class="center-block img-responsive" src="http://new.mycollegehomepage.com/images/svg/storage.svg" alt="documents" width="90" style="margin: 32px 0px 0px 30px;">
		</div>
		<div id="ballShadow"></div>
	      </div>
	    </div>
	    <div class="back">
	      <div class="panel panel-info">
		<div class="panel-heading">
		  <h3 class="panel-title">Your Docs</h3>

		</div>
		<div class="panel-body">
		  <p class="text-center"><i class="fa fa-file-o fa-3x text-info"></i>
		  </p>If you upload them, we'll keep them organized.</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="flip-container hidden-sm hidden-xs" ontouchstart="this.classList.toggle('hover');">
	  <div class="flipper">
	    <div class="front">
	      <div id="ballWrapper">
		<div id="ball">
		  <img class="center-block img-responsive" src="http://new.mycollegehomepage.com/images/svg/ipad.svg" alt="money" width="80" style="margin: 32px 0px 0px 45px;">
		</div>
		<div id="ballShadow"></div>
	      </div>
	    </div>
	    <div class="back">
	      <div class="panel panel-default">
		<div class="panel-heading">
		  <h3 class="panel-title">Your Devices</h3>

		</div>
		<div class="panel-body">
		  <p class="text-center"><i class="fa fa-mobile fa-3x text-default"></i>
		  </p>View mchp from any mobile device. We like it on a tablet.</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div id="footer-terms">
	<p class="small text-muted pull-right"><small>mycollegehomepage.com © 2014 | <a href="/privacy/" class="">Privacy Policy</a></small>
	</p>
      </div>
    </div>
    <!-- End Landing Page -->
    <script src="{{ STATIC_URL }}/js/demo.js"></script>
    <script src="{{ STATIC_URL }}/js/custom.js"></script>
  </body>
</html>
